{% extends "base.html" %}
	
{% block title %}E-Kart | Products {% endblock %}

{% block content %}
<div class="container">
		<div class="jumbotron">
			<h1>Welcome to our Lifestyle Store!</h1>
			<p> We have the best cameras, watches and shirts for you. No need to hunt around, we have all in one place.</p>

		</div>
<div class="row margin-bottom-5">
	{% for obj in object_list %}
	<div class="col pb-8">
		<div class="card " style="width: 15rem;">
  			<a href="{{ obj.get_absolute_url }}">
  				<img class="card-img-top" src="{{obj.image.url}}" alt="{{obj.title}} logo"  >
  			</a>
  			<div class="card-body d-flex flex-column">
    			<h5 class="card-title">{{obj.title}}</h5>
    			<p class="card-text">{{obj.description}}</p>
    			
    			<a href="{{ obj.get_absolute_url }}" class="btn btn-primary mt-auto">View</a>
    		
  			</div>
		</div>
	</div>

		
{% endfor %}
</div>
</div>
{% endblock %}